body{
	background: url("../images-source/fondos/Pagina_Historia.jpg");
	background-attachment: fixed;
	background-size: 100%;
}
.node-type-pagina-interna .centralContainer{
	background: none;
}
.node-type-pagina-interna .principalContainer{
	background: none;
}
.node-pagina-interna{
	width: 80%;
	margin:30px auto;
}
.centerContainer{
	padding: 30px 30px 50px 30px;
	background:rgba(0,0,0,0.77);
	float: right;
	width: 62%;
}
.title_internal{
	float: left;
	margin-left: 105px;
}
.centerContainer h2{
	color: #EFC41A;
	font-family: 'inconsolatamedium';
	font-size: 40px;
	float: left;
}
.centerContainer .red_dot{
  border-radius: 100%;
  padding: 5px;
  float: left;
  margin-top: 45px;
  margin-left: 8px;
  margin-right: 40px;
  background: #C72C0F;
}
.node-pagina-interna .field-name-body{
	float: left;
	width: 100%;
	height: 400px;
    overflow-y: scroll;
}
.node-pagina-interna .field-name-body p{
	color: rgba(255,255,255,0.6);
	font-family: 'inconsolatamedium';
	margin: 0;
	text-align: justify;
	padding: 10px 10px 10px 95px;
}
.field-name-field-subtitulo-interna{
	float: left;
	color: rgba(239,196,26,0.7);
	font-family: 'inconsolatamedium';
	font-size: 74px;
	/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.subtitle_internal{
	float: left;
	margin-top: -36px;
	width: 100%;
}
.centerContainer ::-webkit-scrollbar {
    width: 15px;
}
 
.centerContainer ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
.centerContainer ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.centerContainer ::-webkit-scrollbar-button:vertical:increment {
    background-image: url(../images-source/Texto_flecha_abajo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20%;
}

.centerContainer ::-webkit-scrollbar-button:vertical:decrement {
    background-image: url(../images-source/Texto_flecha_arriba.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20%;
}